 
<!-- main app container -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <!-- Toolbar -->
<!-- <mat-toolbar color="blue" class="app-header">
 
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- <my-login-form (menu)='open($event)'>Your Form</my-login-form>
  
  <my-login-form [error]="'Username or password invalid'" (menu)='open($event)'>Your Form With Error Message</my-login-form> -->