 
<!-- main app container -->

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <!-- Toolbar -->
<mat-toolbar   class="app-header">
 
  <span class="nav-tool-items">
     <button *ngIf="!show" (click)="drawer.toggle()">  
     <span  igxButton="icon" igxToggleAction="navigation" (click)="drawer.toggle()">
      <igx-icon fontSet="material">menu</igx-icon>
    </span></button>
    <a *ngIf="show" mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a *ngIf="show" mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> 
               <div class="content-wrap">
  <igx-nav-drawer id="navdrawer" #drawer >
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true"> Email Account </span>
        <span igxDrawerItem igxRipple  (click)="navigate(item)"> Users </span>
        <span igxDrawerItem igxRipple [active]="true"> Drafts </span>
        <span igxDrawerItem igxRipple  (click)="navigate(item)"> Sent </span>
        <span igxDrawerItem [isHeader]="true"> Folders </span>
        <span igxDrawerItem igxRipple> Deleted </span>
        <span igxDrawerItem igxRipple> Archive </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main>
    
  </main> 
   <router-outlet></router-outlet>
</div>

            </div>
        </div>
    </div>
</div>

<!-- <my-login-form (menu)='open($event)'>Your Form</my-login-form>
  
  <my-login-form [error]="'Username or password invalid'" (menu)='open($event)'>Your Form With Error Message</my-login-form> -->