*.example-item {
        margin:32px;
      

}.example-card {
        
margin-bottom: 5px;
   padding: 7px;
   width: 100% ;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
