/* @import '~igniteui-angular/lib/core/styles/themes/index'; */
@include igx-core();
@include igx-theme($default-palette);

.content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
}