/* Add application styles & imports to this file! */
/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "font.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
} 

/* RIGHT align */
.mat-list-base .mat-list-item.left .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}.mat-list-base .mat-list-item.right .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}
